.btn {
  display: flex;
  align-items: center;
  line-height: 2rem;
  padding-bottom:0.15rem;
  color: $dark-gray;
  transition: all 0.3s;

  &:hover {
    color:$black !important;
  }

  span {
    display: block;
    line-height: 2rem;
    margin-left: 0.3em;
  }
}

.btn--add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  p {
    margin:0;
    margin-left: 0.5em;
  }
  button {
    box-shadow: none;
  }
}
